version: "2"
services:

  ceph:
    image: ceph/daemon:v3.0.5-stable-3.0-luminous-centos-7
    environment:
      - CEPH_DEMO_UID=ceph-admin
      - CEPH_DEMO_ACCESS_KEY=accesskey
      - CEPH_DEMO_SECRET_KEY=secretkey
      - CEPH_DEMO_BUCKET=demobucket
      - RGW_NAME=localhost
      - RGW_CIVETWEB_PORT=8010
      - NETWORK_AUTO_DETECT=4
      - RESTAPI_LOG_LEVEL=debug
    ports:
      - 8010:8010
      - 5000:5000
    command: demo

  postgres-server:
    image: nielsdenissen/ranger-postgres:0.0.2

  ranger-admin:
    image: nielsdenissen/ranger-admin:0.0.2
    stdin_open: true
    tty: true
    depends_on:
      - "postgres-server"
    ports:
      - "6080:6080"

  gargoyle-sts:
    image: kr7ysztof/gargoyle-sts:0.0.4
    environment:
      - STS_HOST=0.0.0.0
      - STS_PORT=12345
      - GARGOYLE_KEYCLOAK_PUBLIC_KEY_ID=FJ86GcF3jTbNLOco4NvZkUCIUmfYCqoqtOQeMfbhNlE
      - GARGOYLE_KEYCLOAK_URL=http://127.0.0.1:8080
    network_mode: host

  keycloak:
    image: kr7ysztof/keycloak-it:0.0.1
    environment:
      - KEYCLOAK_USER=admin
      - KEYCLOAK_PASSWORD=admin
    ports:
      - "8080:8080"
