<!-- turn debug=true on for logback-test.xml to help debug logging configurations. -->
<configuration debug="false">

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are  by default assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <layout class="com.ing.wbaa.rokku.proxy.util.MaskingPatternJsonLayout">
        <!-- Insert here the regexes to sanitize the log messages.
             Replacement supports pattern groups with variables named $1, $2, etc -->
        <replace>
          <pattern>AwsSessionToken\(([\w\d]{5})[^)]+\)</pattern>
          <replacement>AwsSessionToken([$1...])</replacement>
        </replace>
        <replace>
          <pattern>AwsSecretKey\(([\w\d]{5})[^)]+\)</pattern>
          <replacement>AwsSecretKey([$1...])</replacement>
        </replace>
        <replace>
          <pattern>(?i)(X-Amz-Security-Token(: |=))([\w\d]{5})[\w\d]+</pattern>
          <replacement>$1[$3...]</replacement>
        </replace>
        <jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter" />
        <timestampFormat>yyyy-MM-dd'T'HH:mm:ss.SSSX</timestampFormat>
        <timestampFormatTimezoneId>Etc/UTC</timestampFormatTimezoneId>
        <appendLineSeparator>true</appendLineSeparator>
      </layout>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>

  <logger name="com.ing" level="DEBUG" />
  <logger name="org.apache.ranger" level="ERROR" />
  <logger name="org.apache.hadoop" level="ERROR" />
  <logger name="akka.actor.ActorSystemImpl" level="ERROR" />
  <!-- To enable V2 debug on signature uncomment below section -->
  <!--<logger name="com.amazonaws.services.s3.internal" level="DEBUG" />-->

</configuration>
